// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

// Define fonts for body and headers
$body-font: Verdana, Geneva, Tahoma, sans-serif;
$headers-font: Staatliches, Verdana, Geneva, Tahoma, sans-serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.brand-typo{
  font-family: Staatliches, Tahoma, sans-serif;
}

.s-big {
  font-size: 3rem;
}

.s-medium {
  font-size: 1.4rem;
}

.s-small {
  font-size: 1.1rem;
}

.note {
  padding-top: 1rem;
  font-size: 0.8rem;
  color: var(--dark-color);
}
