// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

// Define fonts for body and headers
$body-font: Verdana, Geneva, Tahoma, sans-serif;
$headers-font: Staatliches, Verdana, Geneva, Tahoma, sans-serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rt-font-brand{
  font-family: Staatliches, Tahoma, sans-serif;
}

.rt-font-big {
  font-size: 3.5rem;
  text-shadow: 2px 2px black;
}

.rt-font-medium {
  font-size: 2rem;
  text-shadow: 1px 1px black;
}

.rt-font-small {
  font-size: 1.5rem;
  text-shadow: 1px 1px black;
}

@media only screen and (max-width: 576px) {

  .rt-font-big {
    font-size: 2rem;
  }

  .rt-font-medium {
    font-size: 1rem;
  }
}
