body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.brand-typo{
  font-family: Staatliches;
  font-size: 5vw;
  color: white;
}

.brand-typo-small {
  font-family: Staatliches;
  font-size: 4vw;
  color: white;
}

.black {
  color: black;
}

.cyan {
  color: cyan;
}

.magenta {
  color: magenta;
}

