<%# Contenedor para mapa full viewport %>
<div class="rt-races-container">
  <div id="map"
    class="rt-map-fullscreen"
    data-controller="map"
    data-map-view-value="index"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
