<div class="container page-container">
  <div class="container races-container-style">
    <div class="row p-3">
      <h2>Choose a race and join!</h2>

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 mt-0">

        <% temp = 0 %>

        <% # START ITERATION %>
        <% @races.each do |r| %>

            <% # RACE-CARD %>
            <% @this_race = r %>
            <%= render 'shared/race_card' %>

            <% # MARKETING-CARD %>
            <% temp += 1 %>
            <% if temp % 8 == 0 %>
              <%= render 'shared/race_marketing' %>
            <% end %>

          <% end %>
          <% # END ITERATION %>
        </div>
    </div>
  </div>
</div>
