<div class="container page-container mx-auto">
  <h2>Lista de carreras</h2>
  <div class="container races-container-style">
    <div class="row justify-content-around px-3 pb-3">
      <% temp = 0 %>
      <% @races.each do |r| %>
        <% # OPEN IF PUBLIC %>
        <% if r.public %>
          <% @this_race = r %>
          <% temp += 1 %>
          <% if temp % 8 == 0 %>
            <% # MARKETING-CARD %>
            <%= render 'shared/race_marketing' %>
          <% end %>
          <% # RACE-CARD %>
          <%= render 'shared/race_card' %>
        <% end %>
        <% # END IF PUBLIC %>
      <% end %>
    </div>
  </div>
</div>
