
<div class="page-container">

  <div class="container col-10">
    <div class="con">
      <div class="container">
        <h2>Create a race</h2>
        <%= render 'shared/form', race: @race %>
      </div>
    </div>
  </div>

  <div class="banner-separator"></div>

  <div>
  
  </div>

</div>
