<% if @runners.any? %>
  <% @runners.each do |runner| %>
    <div class="col col-6 col-md-4 col-lg-3">
          <% user = User.find(runner.user_id) %>
          <% if user.photo.key %>
            <%= cl_image_tag user.photo.key,
            height: 150,
            width: 150,
            gravity: :face,
            crop: :fill,
            class: 'avatar' %>
          <% else %>
            <%= image_tag "logo.png",
            alt:"RunTogether logo",
            class: "avatar rt-profile-no-photo" %>
          <% end %>
          <%= User.find(runner.user_id).name %>
        </div>
    <% end %>
</div>
<% end %>
