<div class="rt-banner">
  <div class="rt-banner-z d-flex flex-column justify-content-evenly h-75 text-center">

      <div data-whois="text-wraper" class="pt-5 mt-5">
        <h1 class="rt-banner-title text-light col-10 col-md-8 mx-auto">
          Make new friends while you run
        </h1>
        <p class="rt-banner-text text-light col-10 col-md-8 mx-auto">
          Boost your energy and motivation, trainning with other runners in your neighbourhood!
        </p>
      </div>

      <div data-whois="btns-wraper">
        <div>
          <%= link_to "New race",
            new_race_path,
            class: "btn rt-btn rt-hili-brand col-5 col-md-3 col-lg-2 mb-4"
          %>
        </div>
        <div>
          <%= link_to "Find a race",
            races_path,
            class: "btn rt-btn rt-hili-brand col-5 col-md-3 col-lg-2"
          %>
        </div>
      </div>

      <% unless user_signed_in? %>
        <div class="rt-banner-line">
          <p class="rt-banner-text text-light">Already have an account?</p>
          <%= link_to "Login", new_user_session_path, class: "rt-banner-link" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

