<div class="home-banner">

  <h1 class="brand-typo white">Make new friends while you run</h1>

  <div>
    <p>Boost your energy and motivation, trainning with other runners in your neighbourhood!</p>

    <div class="container">

      <div class="row"><%= link_to "Create a race", new_race_path, class: "btn banner-btn" %></div>
      <div class="row"><%= link_to "Find a race", races_path, class: "btn banner-btn" %></div>

    </div>

  </div>

  <% unless user_signed_in? %>
    <div class="banner-separator"></div>
    <div class="banner-session-link-container">
      <p>Already have an account?</p>
      <%= link_to "Login", new_user_session_path, class: "banner-session-link" %>
    </div>
  <% end %>

</div>

<% # Use condition of controller and actions. Use ternary operator for conditions. Like %>
