<div class="rt-banner">
  <div class="rt-banner-z d-flex flex-column justify-content-center h-100 text-center">

    <div>
      <!-- TITLES -->
      <div>
        <h1 class="rt-banner-title text-light col-10 col-md-8 mx-auto">
          Make new friends while you run
        </h1>
        <p class="rt-banner-text text-light col-10 col-md-8 mx-auto">
          Boost your energy and motivation, trainning with other runners in your neighbourhood!
        </p>
      </div>

      <!-- BUTTONS -->
      <div class="rt-banner-elements-space">
        <div>
          <%= link_to "New race",
            new_race_path,
            class: "btn rt-btn rt-hili-brand col-5 col-md-3 col-lg-2 mb-4"
          %>
        </div>
        <div>
          <%= link_to "Find a race",
            races_path,
            class: "btn rt-btn rt-hili-brand col-5 col-md-3 col-lg-2"
          %>
        </div>
      </div>

      <!-- OPTIONAL LOGIN  -->
      <% unless user_signed_in? %>
        <div class="rt-banner-elements-space">
          <div class="col col-6 col-sm-5 col-md-4 col-lg-3 col-xl-2 mx-auto">
            <div class="rt-banner-line"></div>
          </div>
          <p class="rt-banner-text text-light">Already have an account?</p>
          <%= link_to "Login", new_user_session_path, class: "rt-banner-link" %>
        </div>
      <% end %>
    </div>

  </div>
</div>

