<div class="home-banner">

    <h1 class="brand-typo">Run Together</h1>

    <div>
      <p>Boost your energy and motivation, trainning with other runners in your neighbourhood!</p>

      <div class="banner-btn-container">
        <div class="banner-btn">
          <%= link_to "Create a race", new_race_path %>
        </div>
        <div class="banner-btn">
          <%= link_to "Find a race", races_path %>
        </div>
      </div>

    </div>

</div>
