<div class="rt-banner">

  <div class="xbanner-xontainer">
    <content">

      <h1 class="xbanner-title">Make new friends while you run</h1>

      <p class="xbanner-copy white">Boost your energy and motivation, trainning with other runners in your neighbourhood!</p>

      <div class="xbanner-btn-xontainer">
        <%= link_to "Create a race", new_race_path, class: "xbanner-btn" %>

        <%= link_to "Find a race", races_path, class: "xbanner-btn" %>
      </div>

      <% unless user_signed_in? %>
        <div>
          <div class="banner-separator">
          </div>
          <div class="xbanner-a-xontainer">
            <p class="xbanner-title-sm">Already have an account?</p>
            <%= link_to "Login", new_user_session_path, class: "xbanner-btn-sm" %>
          </div>
        </div>
      <% end %>

    </content>
  </div>

</div>

<% # Use condition of controller and actions. Use ternary operator for conditions. Like %>
