<div class="xbanner">

  <article>

    <h1 class="brand-typo white">Make new friends while you run</h1>

   <p class="xbanner-copy white">Boost your energy and motivation, trainning with other runners in your neighbourhood!</p>

      <content>
        <%= link_to "Create a race", new_race_path, class: "xbanner-btn" %>

      <%= link_to "Find a race", races_path, class: "xbanner-btn" %>

    <% unless user_signed_in? %>
      <p class="xbanner-title-sm white">Already have an account?</p>

      <%= link_to "Login", new_user_session_path, class: "xbanner-btn-sm" %>
    <% end %>

  </content>
  </article>

</div>

<% # Use condition of controller and actions. Use ternary operator for conditions. Like %>
