<% # render in 'views/races/races_index.html.erb' %>
<div class="card card-shadow m-2" style="width: 18rem;">

  <%= image_tag "logo_full.png", hml_options = { style: "background-color: black; width: 100%; padding: 8vh 2vh;  align-items: center; justify-items: center;"} %>

    <div class="card-body flex row">
      <h3 class="card-title brand-typo black pt-3" style="font-size: 2rem;">Can't find a race?</h3>
      <p class="card-text">Create a race that matches your preferences and get all the fun!</p>

      <%= link_to "Create a race", new_race_path, class:"secondary-btn mt-3" %>
    </div>

</div>
