<div class="mt-5 pt-5 pb-5 footer">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-xs-12 about-company">
      <h2>Why this app?</h2>
      <p class="pr-5 text-black-50">We believe that running can bring to your life much more than strenght and all the benefits of cardio activiy. Running set your mind free of worrieness, makes you experience the feeling of freedom, and also it can be a safe and healthy social activity that can bring you together with others. We want to be easy. That's why we created <span class="brand-typo-small black">Run Together</span>. Enjoy group or tandem running. It's easy, it's good!</p>
      <p><a href="#"><i class="fa fa-twitter-square mr-1"></i></a><a href="#"><i class="fa fa-facebook-square"></i></a></p>
    </div>
    <div class="col-lg-3 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3">Links</h4>
        <ul class="m-0 p-0">
          <li>- <a href="#">Lorem ipsum</a></li>
          <li>- <a href="#">Nam mauris velit</a></li>
          <li>- <a href="#">Etiam vitae mauris</a></li>
          <li>- <a href="#">Fusce scelerisque</a></li>
          <li>- <a href="#">Sed faucibus</a></li>
          <li>- <a href="#">Mauris efficitur nulla</a></li>
        </ul>
    </div>
    <div class="col-lg-4 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4">Location</h4>
      <p>22, Lorem ipsum dolor, consectetur adipiscing</p>
      <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
      <p><i class="fa fa-envelope-o mr-3"></i>info@hsdf.com</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col copyright">
      <p class=""><small class="text-black-50">© 2019. All Rights Reserved.</small></p>
      <p class="icon-heart"><small class="text-black-50">Made in Barcelona with <i class="fas fa-heart"></i> by Visca.</small> </p>
    </div>
  </div>
</div>
</div>

<%
=begin%>
 <div class="footer navbar-fixed-bottom bg-light">
    <p>Made in Barcelona with <i class="fas fa-heart"></i> by Visca.</p>
  <div class="footer-links">
    <a href="https://www.instagram.com/explore/tags/runtogether/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.twitter.com/martinvisca" target="blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/martinvisca" target="blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
<%
=end%>
