<div class="footer bg-dark text-light py-5 vh-75">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 col-lg-6 about-company">
        <h2 class="rt-hili-title">Why this app?</h2>
        <p class="rt-hili-text me-3 ">We believe that running can bring to your life much more than strenght and all the benefits of cardio activiy. Running set your mind free of worrieness, makes you experience the feeling of freedom, and also it can be a safe and healthy social activity that can bring you together with others. We want to make it easy. That's why we created <span class="brand-typo s-small cyan">Run Together</span>. Enjoy running in group or in tandem. It's easy, it's good!</p>
        <p class="s-big">
          <a style="text-decoration: none;" href="#">
            <i class="fa fa-twitter-square text-light" ></i> </a>
          <a href="#">
            <i class="fa fa-instagram text-light"></i>
          </a>
        </p>
      </div>

      <div class="col-12 col-sm-4 col-md-2 col-lg-2">
        <div class="d-flex flex-column w-auto">
          <h4 class="rt-hili-title">Links</h4>
            <ul class="m-0 p-0 ul-non-decoration me-3">
              <li><a href="https://www.adidas.es" target="blank">Adidas</a></li>
              <li><a href="https://www.asics.es" target="blank">Asics</a></li>
              <li><a href="https://www.newbalance.es" target="blank">New<span class="text-dark">_</span>Balance</a></li>
              <li><a href="https://www.nike.es" target="blank">Nike</a></li>
              <li><a href="http://www.puma.es" target="blank">Puma</a></li>
              <li><a href="https://www.rebook.es" target="blank">Rebook</a></li>
            </ul>
        </div>
      </div>

      <div class="col-12 col-sm-8 col-md-4 mt-3 mt-sm-0 location">
        <h4 class="rt-hili-title">Location</h4>
        <p class="">Remote team working from a decentralized office called our homes</p>
        <div class="ul-non-decoration ms-3">
          <a mailto="martin.visca@gmail.com">
            <div class="d-flex justify-content-start">
              <div class="row">
                <div class="col p-0"><i class="fa fa-envelope-o me-2"></i></div>
                <div class="col p-0">contact@</div>
                <div class="col p-0">runtogether.io</div>
              </div>
            </div>
          </a>
      </div>
    </div>

    <div class="col-12 mt-3">
      <div class="copyright">
        <p class=""><small class="text-50 ">© 2021. All Rights Reserved.</small></p>
        <p class="icon-heart"><small class="text-50 ">Made in Barcelona with <i class="fas fa-heart"></i> by Visca.</small> </p>
      </div>
    </div>

  </div>
</div>


