<div class="pt-5 pb-5 bg-dark footer">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-xs-12 about-company">
      <h2 class="white">Why this app?</h2>
      <p class="pr-5 white">We believe that running can bring to your life much more than strenght and all the benefits of cardio activiy. Running set your mind free of worrieness, makes you experience the feeling of freedom, and also it can be a safe and healthy social activity that can bring you together with others. We want to make it easy. That's why we created <span class="brand-typo s-small cyan">Run Together</span>. Enjoy running in group or in tandem. It's easy, it's good!</p>
      <p class="s-big">
        <a style="text-decoration: none;" href="#"><i class="fa fa-twitter-square white" ></i> </a><a href="#"><i class="fa fa-facebook-square white"></i></a>
      </p>
    </div>

    <div class="col-lg-3 col-xs-12">
      <h4 class="mt-lg-0 mt-sm-3 white">Links</h4>
        <ul class="m-0 p-0 ul-non-decoration white">
          <li><a href="https://www.adidas.es" target="blank">Adidas</a></li>
          <li><a href="https://www.asics.es" target="blank">Asics</a></li>
          <li><a href="https://www.newbalance.es" target="blank">New Balance</a></li>
          <li><a href="https://www.nike.es" target="blank">Nike</a></li>
          <li><a href="http://www.puma.es" target="blank">Puma</a></li>
          <li><a href="https://www.rebook.es" target="blank">Rebook</a></li>
        </ul>
    </div>

    <div class="col-lg-4 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4 white">Location</h4>
      <p class="white">Remote coderes working from home</p>

      <% # IMPOSSIBLE IF COMMENT %>
      <% if false %>
      <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
      <% end %>

      <div class="ul-non-decoration">
        <a mailto="martin.visca@gmail.com" class="white"><i class="fa fa-envelope-o mr-3 white"></i> info@runtogether.io</a>
      </div>

    </div>
  </div>

  <div class="row mt-3">
    <div class="col copyright">
      <p class=""><small class="text-black-50">© 2019. All Rights Reserved.</small></p>
      <p class="icon-heart"><small class="text-black-50">Made in Barcelona with <i class="fas fa-heart"></i> by Visca.</small> </p>
    </div>
  </div>
</div>
</div>


