<div class="footer-container">
  <div class="footer">
    <div class="footer-copyright">
      <p>Made in Barcelona with <i class="fas fa-heart"></i> by Visca.</p>
    </div>
    <div class="footer-links">
      <a href="https://www.instagram.com/explore/tags/runtogether/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.twitter.com/martinvisca" target="blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/martinvisca" target="blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
