<div class="col">
  <div class="card" style="height: 100%;">
    <%= image_tag "logo_full.png", style: "background-color: black; padding: 27% 15%;  align-items: center; justify-items: center;" %>
    <div class="card-body">
      <h5 class="card-title brand-typo s-middle">Cant't find race?</h5>
      <p class="card-text">Create a race that matches your preferences and get all the fun of <span class="brand-typo s-small black">Run Together</span>.</p>
      <p class="card-text">It's easy and it's free!</p>
      <%= link_to "Create a race", new_race_path, class:"secondary-btn-inverse mb-2" %>
      </div>
  </div>
</div>
