<%= render 'shared/banner' %>
<p>WHAT!</p>
<div style="margin: 16px 0;">
  <%= link_to "Homeeee", root_path %>
  <%= link_to "About", about_us_path %>
  <%= link_to "Contacttttt", contact_path %>
</div>
