<h1>It all starts here</h1>
<p>It is <%= @now %></p>

<article>
  <h2>Create a race</h2>
  <p>
    Create a race and share it in your social and local networks. Other runners will have the boost of energy and motivation of running with other athlets.
  </p>

<div style="margin: 16px 0;">
  <%= link_to "Home", root_path %>
  <%= link_to "About", about_us_path %>
  <%= link_to "Contact", contact_path %>
</div>
