.avatar {
  padding: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.avatar-large {
  margin: 0;
  padding: 0;
  width: 56px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: magenta 3px solid;
}

.rt-navbar-avatar {
  padding: 0;
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: rgb(125,125,125) 2px solid;
}

.rt-profile-avatar {
  padding: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: rgb(125,125,125) 2px solid;
}

.rt-profile-no-photo {
  background-color: #212529;
  background-size: cover;
}
