.rt-banner {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1607962837359-5e7e89f86776?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  background-position: center;
  // -webkit-background-position: center;
  // -moz-background-position: center;
  // -o-background-position: center;
  background-attachment: fixed;
  // padding: 20vh 0;
  height: 100vh;
  width: 100%;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.425;
  }
}

.rt-banner-z {
  position: relative;
}

.rt-banner-title {
  font-family: var(--brand-typo);
  font-size: 2rem;
  text-shadow: 0.04rem 0.04rem black;
  margin: 0;

}

.rt-banner-text {
  margin: 1rem auto 0;
  text-align: center;
  font-size: 1rem;
  text-shadow: 0.04rem 0.04rem black;
}

.rt-banner-link {
  text-decoration: none;
  cursor: pointer;

  font-weight: 900;
  text-align: center;
  font-size: 0.9rem;
  color: white;
  text-shadow: 0.04rem 0.04rem black;

  justify-items: center;

  transition: 0.125s ease;
}

.rt-banner-link:hover {
  text-shadow: 0.04rem 0.04rem black, 0.4rem 0.4rem 1rem yellow, -0.4rem -0.4rem 2rem white;
  transition: 0.125s ease;
  text-decoration: none;
  color: cyan;

  justify-items: center;
}

.rt-banner-line {
  height: 1px;
  margin: 0 auto 0;
  border-bottom: 1px solid var(--light-color);
}

.rt-banner-line-dark {
  height: 1px;
  margin: 0 auto 0;
  border-bottom: 1px solid var(--dark-color);
}
