@use "../config/colors" as *;

.rt-banner {
  background-image: url('../images/runners-warmup.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    pointer-events: none;
    z-index: 1;
  }
}

.rt-media-banner {
    min-height: 100vh;
    position: relative;
    z-index: 2;
  }

.rt-link-title {
  margin-bottom: 0;
  color: white;
}

.rt-banner-link {
  text-decoration: none;
  cursor: pointer;
  font-weight: 900;
  color: white;
  transition: 0.125s ease;
}

.rt-banner-link-grey {
  text-decoration: none;
  cursor: pointer;
  font-weight: 900;
  color: grey;
  transition: 0.125s ease;
}

.rt-banner-link:hover {
  text-shadow: 0.04rem 0.04rem black, 0.4rem 0.4rem 1rem yellow, -0.4rem -0.4rem 2rem white;
  transition: 0.125s ease;
  color: $cyan;
}

.rt-banner-line {
  height: 1px;
  margin: 0 auto 1rem;
  border-bottom: 1px solid var(--light-color);
}

.rt-banner-line-dark {
  height: 1px;
  margin: 0 auto 0;
  border-bottom: 1px solid var(--dark-color);
}


@media only screen and (max-width: 576px) {
}
