.rt-banner {
  background-image: url('runners.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 56px);
  width: 100vw;
}

.rt-banner-link {
  text-decoration: none;
  cursor: pointer;
  font-weight: 900;
  color: white;
  transition: 0.125s ease;
}

.rt-banner-link:hover {
  text-shadow: 0.04rem 0.04rem black, 0.4rem 0.4rem 1rem yellow, -0.4rem -0.4rem 2rem white;
  transition: 0.125s ease;
  color: cyan;
}

.rt-banner-line {
  height: 1px;
  margin: 0 auto 1rem;
  border-bottom: 1px solid var(--light-color);
}

.rt-banner-line-dark {
  height: 1px;
  margin: 0 auto 0;
  border-bottom: 1px solid var(--dark-color);
}
