.xontainer {
  margin: 1.5rem 0.75rem 1.5rem;
  border-radius: var(--large-unit);
  background: var(--light-color);
  width: 20rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  }

  .xontainer h5 {
    margin: 1.5rem 0 0.2rem;
    text-align: center;

    font-family: var(--brand-typo);
    font-size: 1.5rem;
    color: var(--dark-color);
  }

  .xontainer.row > * {
    padding: 0 !important;
  }

  .xontainer a {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
  }

  .xontainer-img {
    border-radius: var(--large-unit) var(--large-unit) 0 0;
    width: 100%;
  }

.xontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

    .xontent a {
    background-color: var(--cyan);
    box-shadow: 0 0 0 0.2rem magenta;

    color: white;
    font-size: 1rem;
    font-family: var(--brand-typo);
    font-size: 1.3rem;
    font-weight: 400;

    border-radius: var(--small-unit);
    margin: 0 0 1.5rem;

    transition: 0.125s ease;
    text-decoration: none;
  }

    .xontent a:hover {
      background-color: var(--magenta);
      box-shadow: 0 0 0 4px $cyan, 2px 2px 15px 3px magenta, -2px -2px 15px 3px yellow;
      transition: 0.125s ease;
  }

.highlight {
  display: flex;
  width: 90%;
  margin: 0 0 var(--large-unit);

  border-radius: var(--small-unit);
  background-image: linear-gradient(to bottom left, var(--cyan-alpha), var(--magenta-alpha));
  box-shadow: 0.2rem 0.2rem 0.5rem var(--shadow-color);

  text-align: center;
}

    .highlight article {
      display: flex;
      width: 100%;
      margin: 1rem;
      justify-content: space-between;
      }

    .highlight content {
      color: var(--dark-color);
    }

    .highlight content[data-type="1"] {
      flex-direction: column;
    }

    .highlight content[data-type="2"] {
      border-left: var(--middle-color) 1px solid;
      margin: 0 0.5rem;
    }

    .highlight content p {
      font-size: 0.8rem;
      margin: 0 0 0.5rem;
    }

    .highlight content p[data-font="staatliches"] {
      font-family: var(--brand-typo);
      font-size: 1.1rem;
    }

    .highlight content p[data-font="title"] {
      font-weight: 700;
    }


.owner-block {
  display: flex;
  flex-direction: row;
  width: 15rem;
  margin: 0.5rem auto 1rem;

  justify-content: center;
}

.owner-avatar {
  padding: 0;
  margin: auto 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: magenta 0.2rem solid;
    }

.x-owner-intro {
  margin: auto 0;
  height: 0.9rem;
  align-items: center;
}

.owner-name {
  margin: auto 0;
  height: 0.9rem;
  align-items: center;
}

.xontent-mkt-title {
  padding: 0 0 1rem;
}

.card-shadow {
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
}
