.xontainer {
  margin: 1.5rem 0.75rem 1.5rem;
  border-radius: var(--large-unit);
  background: var(--light-color);
  width: 20rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  }

  .xontainer h5 {
    margin: 1.5rem 0 0.2rem;
    text-align: center;

    font-family: var(--brand-typo);
    font-size: 1.5rem;
    color: var(--dark-color);
  }

  .xontainer.row > * {
    padding: 0 !important;
  }

  .xontainer a {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
  }

  .xontainer-img {
    border-radius: var(--large-unit) var(--large-unit) 0 0;
    width: 100%;
  }

.xontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

    .xontent a {
    background-color: var(--cyan);
    box-shadow: 0 0 0 0.2rem magenta;

    color: white;
    font-size: 1rem;
    font-family: var(--brand-typo);
    font-size: 1.3rem;
    font-weight: 400;

    border-radius: var(--small-unit);
    margin: 0 0 1.5rem;

    transition: 0.125s ease;
    text-decoration: none;
  }

    .xontent a:hover {
      background-color: var(--magenta);
      box-shadow: 0 0 0 4px $cyan, 2px 2px 15px 3px magenta, -2px -2px 15px 3px yellow;
      transition: 0.125s ease;
  }



.xontent-mkt-title {
  padding: 0 0 1rem;
}

.card-shadow {
  box-shadow: 0.2rem 0.2rem 0.5rem var(--shadow-color);
}

$border-radius:               .25rem;
$border-radius-sm:            .5rem;
$border-radius-lg:            1rem;
$border-radius-pill:          50rem;
