.rt-color-dark {
  color: var(--dark-color);
}

// HILI, AVATAR AND CARD SHADOW

.rt-shadow {
  box-shadow: 4px 4px 8px var(--shadow-color);
}

// BORDER RADUIS
.rt-rounded {
  border-radius: var(--small-unit);
}

.rt-rounded-top {
  border-top-left-radius: var(--small-unit);
  border-top-right-radius: var(--small-unit);
}

// MARKETING CARD IMAGE

.rt-brand-img-div {
  padding: 21% 25%;
  background-color: black;
  align-items: center;
  justify-items: center;
}

.rt-brand-img {
  width: 100%;
  height: auto;
}

// MARKETING CARD BODY

.rt-card-body {
  display: flex;
  flex-direction: column;
  height: 295px;
}

// HIGHLIGHT INFO INSIDE CARD

.rt-hili {
  margin: 0.5rem 1rem 2rem;
  padding: 1rem;
  background-image: linear-gradient(to bottom left, var(--cyan-alpha), var(--magenta-alpha));
}

.rt-hili-container {
  display: flex;
  width: 100%;
}

.rt-hili-line {
    border-left: var(--middle-color) 1px solid;
    margin: 0 0.5rem;
}

.rt-hili-brand-title {
    font-family: var(--brand-typo);
    font-size: 1.5rem;
}

.rt-hili-brand {
    font-family: var(--brand-typo);
    font-size: 1.1rem;
}

.rt-hili-brand-small {
    font-family: var(--brand-typo);
    font-size: 0.8rem;
    margin-bottom: 0;
}


.rt-hili-small {
  font-size: 0.85rem;
}

.rt-hili-center {
  margin: 0 auto;
}

// HILI <P> MARGIN

.rt-hili-p-join {
  margin: 0 0 0.2rem;
}

// OWNER BLOCK

.rt-hili-owner-block {
  display: flex;
  justify-content: center;
}

.rt-hili-owner-intro {
  font-size: 0.9rem;
}

.rt-hili-owner-name {
  margin: auto 0;
  height: 0.9rem;
  align-items: center;
}

.rt-owner-avatar {
  padding: 0;
  margin: auto 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}


