.rt-devise-form-bg {
  background-color: rgba(0,0,0,0.8);
}

.rt-devise-form-border {
  border: solid magenta 3px;
}

.rt-devise-bg-0 {
  background-color: transparent;
}

.rt-devise-border-0 {
  border-style: none;
}
