.mapboxgl-popup-content {
  text-align: center;
  font-family: Staatliches, Tahoma, sans-serif;
}

.margin-top {
  margin-top: 100px;
  display: flex;
}

.search-bar {
  display: flex;
  flex-direction: column;
  form {
    display:flex;
  }
}

.mapboxgl-control-container {
  display:none;
}

.rt-map {
  height: 350px;
}
/* test */
/* test */
