
div.mapboxgl-ctrl-attrib-inner {
  visibility: hidden  ;
  height: 0;
  width: 0;
}

a.mapboxgl-ctrl-logo {
  visibility: hidden;
}

div.mapboxgl-ctrl-attrib.mapboxgl-compact {
  visibility: hidden;
}

div.mapboxgl-ctrl {
  visibility: hidden;
}

