.navbar-lewagon {
  margin: 0 auto;
  height: 60px;
  justify-content: space-between;
  background-color: $menu-color;
}

.navbar-lewagon-white {
  background-color: $menu-color;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 60px;
}

