#active {
  color:  var(--light-color);
}

.rt-navbar-brand {
  height: 30px;
  width: auto;
}

.rt-dropdown-expand {
  background-color: #212529;
  color: rgb(156, 156, 156);
  transition: 0.25s;
}

.rt-dropdown-expand:hover {
  background-color: #212529;
  color: rgb(195, 195, 195);
  transition: 0.25s;
}

.rt-dropdown-line {
  color: rgb(156, 156, 156);
}

.rt-dropdown-border {
  border: solid 0.5px rgb(156, 156, 156);
}

.navbar .rt-btn {
  font-size: 0.9rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  line-height: 1.2;
}
