
 // Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/normalize";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome/scss/font-awesome";

// Your CSS partials
@import "components/index";
