// Graphical variables
@use "config/fonts";
@use "config/colors" as *;
@use "config/bootstrap_variables";
@use "config/normalize";

// Components (import directo)
@use "components/alert";
@use "components/avatar";
@use "components/banner";
@use "components/button";
@use "components/card";
@use "components/devise_forms";
@use "components/footer";
@use "components/list";
@use "components/map";
@use "components/navbar";
@use "components/show";

// Mapbox styles
@import "mapbox-gl/dist/mapbox-gl.css";